<!DOCTYPE html>
<html lang="en">
	<head>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
        
		<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>   
        
        <!-- CSS files -->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body class= "bg-body-demo">
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>   