{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>

        <div class="col-md-6 col-md-offset-1 padding-top">
        <h1>New Menu Item</h1>
        <form action="{{url_for('newMenuItem',restaurant_id = restaurant_id)}}" method = 'POST'>
            <div class="form-group" style="color:cornsilk;">
                <label for="name">Name:</label>
                <input type ="text" maxlength="100" class="form-control" name="name">
        
                <label for="description">Description:</label>
                <textarea class="form-control" maxlength="250" rows="3" name="description"></textarea>

            <p>Price:</p>
            
            <input type='text' size='30' name='price'>
            <p>Course:</p>
            <input type="radio" class="text-white" name="course" value="Appetizer"> Appetizer <br>
            <input type="radio" class="text-white" name="course" value="Entree"> Entree <br>
            <input type="radio" class="text-white"  name="course" value="Dessert"> Dessert <br>
            <input type="radio" class="text-white" name="course" value="Beverage"> Beverage  <br>
            <br> <br>
            <button type='submit' class="btn btn-primary" value='Edit'><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Create </button>
        </form>
        <button class="btn btn-primary delete">   
            <a href= '{{url_for('showMenu', restaurant_id = restaurant_id)}}'>		
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
            </a>

            {% endblock %}