<html>
        <head>
             <!-- Latest compiled and minified CSS -->
             <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

             <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

             <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>   

            <link rel=stylesheet type="text/css" href="{{url_for('static',filename='styles.css')}}" >
             
            <title>Create a New Restaurant</title>

               
        </head>
    <body class="p-3 mb-2 bg-secondary bg-body-demo ">
        <div class="container">
        <h1>New Resturant</h1>
        <form action="{{url_for('newRestaurant')}}" method = 'POST'>

            <p>Name:</p>
            
            <input type='text' size='30' name='name'>

            <input type='submit'  class="btn btn-primary" value='Create'>
            
        </form>
            <a class="btn btn-primary"  href= '{{url_for('showRestaurant')}}'>Cancel</a>
        </div>
        </body>
</html>