    {% extends "main.html" %}
    {% block content %}
    {% include "header.html" %}
       
        <h1>Restaurant</h1>

    
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                
                    {% for message in messages %}
                    <strong>{{ message }}</strong>
                    {% endfor %}
                
            {% endif %}
            {% endwith %}

            </br>

            <div class="row padding-top padding-bottom">
                
                <div class="col-md-10 padding-none">
                    <a href="{{url_for('newRestaurant')}}" >
                        <button class="btn btn-default" id="new-restaurant">
                            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> Add Restaurant
                        </button>
                    </a>
                </div>
                <div class="col-md-1"></div>
            </div>
        </br>
        <div class="table-responsive"></div>
        <table class=" bg-table-cl table table-condensed" >
            <thead style="color:beige">
                
            </thead>
            <tbody style="width:200%">
            {% for r in restaurants %} 
            
            <td><p><a href='{{url_for('showMenu', restaurant_id = r.id)}}'> <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> {{r.name}}</p>  </a>      </td>
                <td><a href='{{url_for('editRestaurant', restaurant_id = r.id)}}' class = "button" class="list-group-item"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>  Edit </a></td>
                <td><a href = '{{url_for('deleteRestaurant', restaurant_id = r.id)}}' class = "button" class="list-group-item"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  Delete </a></td>
                
            </tbody>{% endfor %}

        </table>
        </div>
  
        
        
        
    </div> 
    {% endblock %}